:root {
    --background-color--main: #000;
    --background-color--secondary: #CCC;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--background-color--main);
    color: var(--background-color--secondary);
}

#game-board {
    background-color: var(--background-color--secondary);
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}

.snake {
    background-color: #00ccff;
    border: 0.25vmin solid var(--background-color--main);
}

.food {
    background-color: #00ff00;
    border: 0.25vmin solid var(--background-color--main);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vmin;
}

h1 {
    border: 0.5rem solid var(--background-color--secondary);
    border-radius: 0.5rem;
}